# Ignore everything
*

# Allow specific file types in all subdirectories
!*.jl
!*.c
!*.h
!*.nb
!*.toml

# Allow directories to be tracked
!*/

# Do not ignore this file itself
!.gitignore

subproblem_gqtpar.jl
